<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>layoutviewresolver</title>
<link rel="stylesheet" type="text/css" href ="${request.contextPath}/resource/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href ="${request.contextPath}/resource/css/bootstrap.min.css">
<link rel ="stylesheet" type="text/css" href="${request.contextPath}/resource/css/jquery-ui.css">
<link rel ="stylesheet" type="text/css" href="${request.contextPath}/resource/css/zTreeStyle/zTreeStyle.css">
<!-- 引入jquery的插件 -->
<script type="text/javascript" src = "${request.contextPath}/resource/js/jquery-3.1.1.js"></script>
<!-- 引入分页的插件 -->
<script type="text/javascript" src ="${request.contextPath}/resource/js/jquery.dataTables.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/bootstrap.min.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/bootbox.min.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/jquery.ztree.all.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src = "${request.contextPath}/resource/js/jquery.ztree.exedit.js"></script>
</head>
<body>
 $screen_content  
</body>
</html>